@import "modules/function";
@import "modules/responsive";
@import "modules/debug";
@import "modules/fonts";

$colorAmour: #ffe4ea;

/**
 * Common Elements
 */

h1, h2, h3, h4, h5, h6 {
	text-rendering: auto;
	cursor: auto;
}

p {
	text-rendering: auto;
	cursor: auto;
}

body {
	background-color: $colorAmour;
}

.nav_wrapper {
	max-width: 64em;
	min-height: 100%;
    margin-right: auto;
	margin-left: auto;
	// border: 1px solid red;
}
.nav_wrapper::before, .nav_wrapper::after {
    display: table;
    content: ' ';
}
.nav_wrapper::after {
    clear: both;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.copyrights {
	position: absolute;
	width: 100%;
	height: 2em;
	bottom: 0;
	text-align: center;

    @media #{$medium-up} {
		max-width: 64em;
	}
}

.copyrights_text {
	font-family: 'geomanistregular';
	font-size: 0.6em;
	color: #fff;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.no_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

nav.main_nav {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow: hidden;

	&.collapsed {
		display: none;
	}

    @media #{$medium-up} {
		
	}
}

.logo_header {
  display: block;
  width: 275px;
  height: 60px;
  background: url(../img/logo_text.svg);
}

.nav_content {
	display: block;
	text-align: center;
	height: 100%;
	background-color: #000;
	padding: 4em 2em;

	@media #{$medium-up} {
		text-align: left;
	}
}

.logo_app {
	display: block;
	background: url(../img/logo_app.svg);
	width: 6em;
	height: 6em;
	margin: 0 auto;
	
	@media #{$medium-up} {
		width: 6rem;
		height: 6rem;
		margin-left: 0;
	}
}

.menu {
	padding-left: 0;
	margin-top: 4rem;
	list-style: none;
	float: left;
	width: 100%;

	&:after {
		clear: both;
	}

	@media #{$medium-up} {
		margin-top: 8rem;
		width: 50%;
	}

}

.menu_item {
	> a {
		font-family: 'geomanistbold';
		font-size: 3em;
		color: #fff;
		text-decoration: none;
		line-height: 1.4em;

		&:hover {
			color: $colorAmour;
		}

		@media #{$medium-up} {
			font-size: 5em;
		}
	}
}

.menu_additional {
	width: 100%;
	font-family: 'geomanistregular';
	font-size: 1.2em;
	color: #fff;
	letter-spacing: 0.1em;

	h6 {
		margin-bottom: 1.5em;
		font-size: 0.6em;
	}

	@media #{$medium-up} {
		width: 49%;
		float: left;
		margin-top: 10rem;
		h6 {
			font-size: 0.6em;
		}
	}
}

.menu_additional_social {
	width: 50%;
	float: left;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 0.1em;

	&:after {
		clear: both;
	}
	@media #{$medium-up} {
		width: 100%;
	}
}

.menu_additional_contact {
	width: 50%;
	float: left;
	text-transform: uppercase;
	text-align: left;
	.contact_us {
		font-family: 'geomanistmedium';
		font-size: 1.2rem;
		color: #fff;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;

		i {
			margin-left: 0.5em;
		}

		@media #{$medium-up} {
			font-size: 2rem;
		}
	}
	&:after {
		clear: both;
	}
	@media #{$medium-up} {
		width: 100%;
		margin-top: 2em;
	}
}

.socmed_list {
	font-size: 1.2em;
	a {
		color: #fff;
		margin-right: 0.4em;
	}
	@media #{$medium-up} {
		font-size: 2rem;
	}
}




#content {
	// position: relative;
	display: block;
}

#sidenav {
	display: none;
	position: fixed;
	// z-index: $layerSidenav;
	top: 40%;
	left: 0px;
	width: auto;
	margin-top: -77px;
	padding: 0;
	
	ul {
		padding-left: 0px;
		
		li {
			margin-bottom: 10px;
			
			a {
				// width: 120px;
				width: 40px;
				height: 34px;
				position: relative;
				display: inline-block;
				color: #fff;
				background-color: rgba(0, 0, 0, .2);
				padding: 10px 8px;
				text-decoration: none;
				font-family: 'montserrat';
				font-size: em-calc(14px);
				vertical-align: middle;
				overflow: hidden;
				
				// @include border-radius(0 5px 5px 0);
				// @include transition-property(background-color);
				// @include transition-duration(.4s);

				&.nav {
					height: 12px;
					padding: 0;
					background: #000;
					border-radius: 7px;
				}

				span.navlabel {
					margin-left: 10px;
					overflow: hidden;
					// @include opacity(0);
				}

				&.active {
					// @include transition-property(background-color);
					// @include transition-duration(.4s);
  					background-color: rgba(0, 0, 0, .8);
				}

				&:hover  {
					// @include transition-property(background-color);
					// @include transition-duration(.4s);
					width: auto;
  					background-color: rgba(0, 0, 0, .8);
  					
  					span.navlabel {
						// overflow: hidden;
  						// @include opacity(1);
						// @include transition-property(opacity);
						// @include transition-duration(.8s);
  					}
				}
			}
		}
	}
}


